@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Space+Mono:ital,wght@1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}



.intro {
  font-family: 'Space Mono', monospace;
  font-style: italic;
}

button {
  border: 2px solid lightgrey;
  border-radius: 2em;
  background: inherit;
  padding: 1em;
  position: fixed;
  right: 2em;
  top: 2em;
}

div#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2em;
}

.icons-container {
  display: flex;
  justify-content: center;
  gap: 6em;
}

svg.icon {
  width: 50px;
}

.hand {
  display: inline-block;
}

button .hand:hover {
  animation: wave 1s linear;
}

@keyframes wave {
  0% {
    transform: rotate(-45deg);
    transform-origin:center bottom;
  }

  50% {
    transform: rotate(45deg);
    transform-origin:center bottom;
  }

  100%{
    transform: unset;
  }
}

span#cursor {
  font-weight: 100;
  display: inline-block;
  animation: blink 1s linear infinite;
}

@keyframes blink {
  0%{opacity: 0;}
  100%{opacity: 1;}
}